background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	z-index: 1;
}

@media screen and (max-width:1000px) {
	background {
		background-size: auto 100%;
	}
}

@media screen and (min-width:1000px) {
	background {
		background-size: auto auto;
	}
}

background {
	transition: all 700ms ease-out;
	background-position: 52%;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
}

.about>background {
	height: 100px;
	background-size: auto auto !important;
}